<% provide(:title, "Home") %>
<div class="container container-left">
<div class="header-logo">
<header class="page-header">
      <h1><%= image_tag 'logo_music.png',class:"logo" %><h1>
</header>
</div>


<%# メイン画面　%>
<div class="home big-bg">
  <div class="home-content wrapper">
      <h2 class="page-title">Welcome Musicgram!</h2>
      <p>あなたのおすすめの<br>アーティストを共有しよう!</p>
      <p><%= link_to "登録する", new_user_registration_path,class:"btn" %></p>
     </div>
</div>
</div>
<%# 説明概要　%>
<h2 class="focus-title">MusicAppとは?</h2>
<div class="content-about">
 <h1><%= image_tag 'home.png',class:"bish_logo" %></h1>
 <p class="focus">他のユーザのおすすめアーティストを<br>共有できいいねやコメントを残せます!</p>
 <h1><%= image_tag 'guest.png',class:"guest_logo" %></h1>
 <p class="description">登録しなくてもゲストログインをして機能を<br>確認することができます♪</p>
</div>

<%= render 'partial/footer' %>
</div>
