


<% @boards.each do |board| %>
  <div class="col-md-8 col-md-2 mx-auto">
    <div class="card-wrap">
      <div class="card">
        <div class="card-header align-items-center d-flex">


          <%= link_to user_path(board.user), class: "black-color no-text-decoration",
            title: board.user.name do %>
            <strong><%= board.user.name %></strong>
          <% end %>

          <% if board.user_id == current_user.id %>
            <%= link_to board_path(board), method: :delete, class: "ml-auto mx-0 my-auto" do %>
              <div class="delete-post-icon">
              </div>
            <% end %>
          <% end %>

        </div>

        <%= link_to(board_path(board)) do %>
          <%= image_tag board.photos.first.image.url(:medium), class: "card-img-top" %>
        <% end %>

        <div class="card-body">
          <div class="row parts">

            <div id="like-icon-post-<%= board.id.to_s %>">
              <% if board.liked_by(current_user).present? %>
                <%= link_to "いいねを取り消す", board_like_path(board.id, board.liked_by(current_user)), method: :DELETE, remote: true, class: "loved hide-text" %>
              <% else %>
                <%= link_to "いいね", board_likes_path(board), method: :POST, remote: true, class: "love hide-text" %>
              <% end %>
            </div>

            <%= link_to "", "#", class: "comment" %>
          </div>

          <div id="like-text-post-<%= board.id.to_s %>">
            <%= render "like_text", { likes: board.likes } %>
          </div>

          <div>
            <span><strong><%= board.user.name %></strong></span>
            <span><%= board.caption %></span>
            <%= link_to time_ago_in_words(board.created_at).upcase + "前", board_path(board), class: "post-time no-text-decoration" %>

            <%# ==========ここから編集する========== %>
            <div id="comment-post-<%= board.id.to_s %>">
              <%= render 'comment_list', { board: board } %>
            </div>
            <%= link_to time_ago_in_words(board.created_at).upcase + "前", board_path(board),
              class: "light-color post-time no-text-decoration" %>
            <hr>
            <div class="row actions" id="comment-form-post-<%= board.id.to_s %>">
              <%= form_with model: [board, Comment.new], class: "w-100" do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :board_id, value: board.id %>
                <%= f.text_field :comment, class: "form-control comment-input border-0", placeholder: "コメント ...", autocomplete: :off %>
              <% end %>
            </div>
            <%# ==========ここまで編集する========== %>

          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= paginate @boards %>
<%= render 'partial/footer' %>
