<% provide(:title, "一覧")%>
<% if flash[:notice] %>
  <div class="alert alert-primary"><%= flash[:notice] %></div>
<% end %>
 <%= link_to "新規投稿",new_board_path, class: "btn btn-outline-dark"%>    
<div class="row items" >
  <div class="card mb-4 shadow-sm item">
    <%= image_tag @board.image_url.to_s %>
    <div class="card-body">
    <p class="card-text"><%= @board.name %></p>
     <p class="card-text"><%= @board.body %></p>
     <p class="card-text"><%= @board.created_at.to_s(:datetime_jp) %></p>
      </div>
    </div>
  </div>
</div>
<%= render partial: "shared/comment_form"%>


